.alertQueue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0.5rem;
  z-index: 100000;
}

.alert {
  opacity: 1;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}
