html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~nord/src/sass/nord.scss';

$body_bg: $nord6;
$body_color: $nord0;

$theme-colors: (
  'primary': $nord10,
  'secondary': $nord3,
  'success': $nord14,
  'danger': $nord11,
  'warning': $nord13,
  'info': $nord8,
  'light': $nord5,
  'dark': $nord0,
  'white': $nord6,
);

$link-color: $nord10;

@import '~bootstrap/scss/bootstrap';
